:root {
  --md-primary-fg-color: #e87500;
  --md-primary-fg-color--light: #f09030;
  --md-primary-fg-color--dark: #b55c00;
  --md-accent-fg-color: #e87500;
  --md-accent-fg-color--transparent: #e8750020;
}
